.form__clip {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media (max-width: 1439px) {
  .form__clip {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .form__clip {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}
