.development__list-icon {
  width: 66px;
  height: 66px;
  margin-right: 40px;
}

@media (max-width: 1439px) {
  .development__list-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .development__list-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}
