.clover__header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 452px;
}

@media (max-width: 1439px) {
  .clover__header {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .clover__header {
    padding-top: 0;
    gap: 8px;
  }
}
