.prototypes__span {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  color: #363b46;
  margin: 0 0 33px 0;
}

@media (max-width: 1440px) {
  .prototypes__span {
    font-size: 32px;
    margin: 0 0 27px 0;
  }
}

@media (max-width: 767px) {
  .prototypes__span {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}
