.benefits__screenshot {
  width: 335px;
  height: 724px;
  width: 100%;
}

@media (max-width: 1439px) {
  .benefits__screenshot {
    height: 283px;
  }
}

@media (max-width: 767px) {
  .benefits__screenshot {
    height: 264px;
    width: 127px;
  }
}
