.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 24px 16px;
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .header__main {
    padding: 13px 24px 12px;
  }
}

@media (max-width: 1439px) {
  .header__main {
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .header__main {
    padding: 10px 16px;
  }
}
