.carousel {
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;
}

@media (max-width: 1439px) {
  .carousel {
    margin-bottom: 108px;
  }
}

@media (max-width: 767px) {
  .carousel {
    margin-bottom: 67px;
  }
}
