.benefits__list_questions {
  margin: -5px 0 20px;
  gap: 22px;
  list-style: disc;
  padding-left: 38px;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1439px) {
  .benefits__list_questions {
    gap: 25px;
    padding-left: 27px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 29px;
  }
}

@media (max-width: 767px) {
  .benefits__list_questions {
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 23px;
    top: 0;
    font-size: 14px;
    line-height: 22px;
    padding-left: 22px;
  }
}
