.benefits__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 0;
  max-width: 333px;
}

@media (max-width: 1439px) {
  .benefits__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-width: 767px) {
  .benefits__title {
    font-size: 16px;
    line-height: 24px;
  }
}
