.about-us__adress {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 70px 0;
}

@media (max-width: 1439px) {
  .about-us__adress {
    margin: 0 0 39px 0;
  }
}

@media (max-width: 767px) {
  .about-us__adress {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 0 29px 0;
  }
}
