.about-us__subscribe {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 11px 0;
}

@media (max-width: 1439px) {
  .about-us__subscribe {
    margin: 0 0 21px 0;
  }
}

@media (max-width: 767px) {
  .about-us__subscribe {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 0 0 12px 0;
  }
}
