.clover__hand-n-leaf {
  position: absolute;
  right: 185px;
  top: 175px;
  z-index: 2;
  object-fit: contain;
  width: 651px;
  height: 858px;
}

@media (max-width: 1700px) {
  .clover__hand-n-leaf {
    right: 15px;
  }
}

@media (max-width: 1439px) {
  .clover__hand-n-leaf {
    right: -70px;
    width: 485px;
    height: 618px;
    top: 420px;
  }
}

@media (max-width: 767px) {
  .clover__hand-n-leaf {
    right: -4px;
    top: 148px;
    width: 187px;
    height: 238px;
  }
}
