.header__button {
  border: 0;
  padding: 15px 42.5px;
  background-color: #f86161;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0em;
  cursor: pointer;
  border-radius: 50px;
  font-family: Gotham;
}

@media (max-width: 1440px) {
  .header__button {
    padding: 13px 27.5px;
  }
}

@media (max-width: 767px) {
  .header__button {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 12px;
  }
}
